body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(17, 190, 49);
    background-image: url("image\ folder/sing-up page 2.webp");
    background-repeat:no-repeat;
    background-size:cover;
    
}
h1{
    text-align: center;
    font-weight: bolder;
    font-size:50px;
}
label{
    font-size: 30px;
    font-weight:bolder;
}
.container{
    /*background-color:white;*/
    margin-left:525px;
    padding:10px 20px;
    /*color:black;*/
    display:flex;
    flex-direction:column;
    gap:5px;
    justify-content:center;
    align-items:center;
    border:solid  rgb(17, 190, 40)  3px;
    border-radius:30px;
    max-width:fit-content;
}
#First-name{
    margin-left:5px;
    padding:5px;
}
#Last-name{
    margin-left:5px;
    padding:5px;
}
#Locations{
    margin-left:5px;
    padding:5px;
}
select{
    margin-left:5px;
    padding:10px;

}
#phone-number{
    margin-left:5px;
    padding:5px;
}
#email{
    margin-left:5px;
    padding:5px;
}
#Date{
    margin-left:5px;
    padding:10px;
}
#Username{
    margin-left:5px;
    padding:5px;
}
#New-Password{
    margin-left:5px;
    padding:5px;

}
#Confirm-Password{
    margin-left:5px;
    padding:5px;
}
#register{
    margin:25px;
    padding:50px;
    background-color:rgb(17, 190, 40);
    text-decoration:none;
    color:white;
    font-weight:900;
}
a{
    text-decoration:none;
    color:inherit;
}
.Inputs-4{
    display: flex;
    flex-direction:column;
    justify-content:center;
}

.external-class{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
};
#login{
    padding:50px;
    background-color:rgb(17, 190, 40);
    font-weight: bolder;
}
    
@media (max-width: 600px) {
    body {
        background-size: cover;
    }

    h1 {
        font-size: 30px; 
    }

   label {
        font-size: 18px; 
    }

    .container {
        width: 90%; 
        margin: 20px auto; 
        padding: 10px;
        border-radius: 15px;
    }

    input, select {
        width: 100%; 
        margin: 5px 0; 
    }

    #register {
        width: 100%; 
        font-size: 16px; 
        padding:10px;
    }

    #login {
        width: 100%;
        font-size: 14px; 
        padding: 10px;
    }

    .external-class {
        flex-direction: column; 
        gap:15px;
    }
}